@font-face {
    font-family: "SeoulHangangEB";
    font-style: "normal";
    src: url("./src/SeoulHangangEB.ttf");
}

@font-face {
    font-family: "SeoulHangangB";
    font-style: "normal";
    src: url("./src/SeoulHangangB.ttf");
}

@font-face {
    font-family: "SeoulHangangL";
    font-style: "normal";
    src: url("./src/SeoulHangangL.ttf");
}

@font-face {
    font-family: "SeoulHangangM";
    font-style: "normal";
    src: url("./src/SeoulHangangM.ttf");
}

@font-face {
    font-family: "Hancom Gothic Regular";
    font-style: "normal";
    src: url("./src/Hancom\ Gothic\ Regular.ttf");
}

@font-face {
    font-family: "Hancom Gothic Bold";
    font-style: "normal";
    src: url("./src/Hancom\ Gothic\ Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Hancom Gothic Regular";
}

p {
    margin: 0;
}

body {
    overflow: hidden;
    background-color: black;
}

.background-photo-1 {
    width: 100%;
    height: 100vh;
    background-image: url('./src/background\ photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    z-index: -100;
}

.topnav {
    position: fixed;
    width: 100%;
    box-shadow: inset 0 0 100px #000;
    -webkit-box-shadow: inset 0px 98px 116px -45px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 98px 116px -45px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 98px 116px -45px rgba(0, 0, 0, 1);
}

.topnav p {
    color: white;
    margin-bottom: 0;
}

.title {
    display: inline-block;
    font-family: "SeoulHangangEB";
}

#title1 {
    margin-top: 57px;
    font-size: 45px;
    margin-bottom: 0;
}

#title2 {
    font-size: 28px;
}

.mainlogo {
    margin-left: 36px;
    margin-top: 61px;
    float: left;
    padding-right: 7px;
    height: 112px;
}

.menu {
    display: inline-block;
    font-size: 35px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    transform: translate(0, -50%);
    margin-left: 66px;
}

.menu p {
    display: inline-block;
    padding-right: 66px;
    font-family: "Hancom Gothic Bold";
}

.menu p:last-child {
    padding-right: 17px;
}

.menu p:first-child {
    padding-left: 17px;
}

.loginbutton {
    width: 140px;
    height: 90px;
    float: right;
    font-size: 28px;
    margin-top: 90px;
    font-family: "Hancom Gothic Bold";
}

form {
    width: 60%;
    font-family: "Hancom Gothic";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input {
    text-align: left;
    padding-left: 40px;
    font-size: 2.2em;
    height: 90px;
    display: inline-block;
}

#input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.footbutton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30vh;
    text-align: center;
    display: block;
}

.footbutton p {
    color: white;
    font-size: 25px;
}

#footer:hover .recommendedbooks {
    opacity: 1;
}

.recommendedbooks {
    position: absolute;
    width: 100%;
    bottom: 0;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    opacity: 0;
}

.recommendedbooksbutton {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

#mainsecondpage {
    width: 100%;
    height: 100vh;
    background-color: #435469;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transform: translateY(100vh);
}

#mainer {
    position: absolute;
    width: 100%;
    height: 20vh;
    top: 0;
    text-align: center;
    display: block;
}

#mainer:hover .gotohome {
    opacity: 1;
}

.gotohome {
    position: fixed;
    width: 100%;
    top: 0;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    opacity: 0;
}

.gotohomebutton {
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

.mainbutton p {
    padding-top: 10px;
    margin-bottom: 0;
    color: white;
    font-size: 25px;
}

#container {
    width: 100%;
    display: inline-block;
    margin-top: 150px;
    padding-bottom: 50px;
}

h2 {
    font-family: 'Hancom Gothic Regular';
    color: white;
}

.swiper-container {
    width: 85%;
    padding-top: 5%!important;
    margin: 0 auto;
    height: 60vh;
    text-align: center;
}

.book {
    width: 33%;
    display: block;
    height: 100%;
    float: left;
}

.book p {
    text-align: center;
    color: white;
    font-family: 'Hancom Gothic Regular';
    padding: 5px;
    cursor: pointer;
}

.book img {
    height: 90%;
    cursor: pointer;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #00ff95;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

#loading {
    font-family: "Hancom Gothic Bold";
    color: white;
    margin: 0 auto;
}